input#new-idea {
  font-size: 3em;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: orange;
  border-bottom: 2px dotted orange;
  display: inline-block;
  padding-right: 9px;
  padding-left: 10px;

  &:focus{
      outline: none;
  }
  
  &::-webkit-input-placeholder {
    color: orange;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: orange;  
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: orange;  
  }

  &:-ms-input-placeholder {  
    color: orange;  
  }
}
