{
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "check-coverage": true,
  "include": [
    "dist/src/**/*.js"
  ],
  "exclude": [
    "dist/src/index.js",
    "dist/src/config.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ]
}