extends base.pug

block head
  title= locals.site.name

block body
  .nav-header
    .ui.inverted.vertical.masthead.aligned.segment
      .ui.container
        h1.ui.inverted.header
          a(href='/') #{locals.site.name}
        .ui.large.secondary.inverted.pointing.menu
          a.item Home
          a.active.item Feedback

  .ui.container
    block content