extends layouts/home.pug

block content
  p.new-idea-invite How can we improve #{locals.site.name}?
  
  span#new-idea.ui.orange.header(contenteditable="true", data-placeholder="My idea is ...")

  #idea-actions
    .ui.big.buttons
      button#add-idea.ui.orange.button Add Idea
      .or
      button#cancel-idea.ui.button Cancel

  .ui.relaxed.divided.huge.list
    each idea in ideas
      .item
        .ui.mini.statistic.content.left.floated
          .value
            | #{idea.votes}
          .label
            | votes
        .content
          a.header #{idea.text}
          .description by Guilherme Oenning 
            .ui.grey.horizontal.label.mini 
              | Planned