extends layouts/home.pug

block content
  p.new-idea-invite How can we improve #{locals.site.name}?
  
  span#new-idea(contenteditable="true", data-placeholder="My idea is ...")

  p#idea-actions
    button#add-idea Add idea
    button#cancel-idea Cancel