*:focus{
    outline: none;
}

.nav-header {
    a {
        color: white;
    }
}

#new-idea {
    font-size: 40px;
    text-align: left;
    border: none;
    cursor: pointer;
    padding: 0px 10px 10px 10px;
    border-bottom: 1px dotted;
    display: inline-block;
    line-height: 50px;
    margin-bottom: 40px;
  
    &:empty:not(:focus)::before{
        content:attr(data-placeholder)
    }
}

.new-idea-invite {
    color: gray;
    font-size:30px;
}

#idea-actions {
    display:none;
}